<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<real>14</real>
		<key>textColor</key>
		<string>0x000000</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>navigationTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>copyrightLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x848484</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>rootSectionHeader</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>groupedSectionHeader</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>listSectionHeader</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>groupedSectionFooter</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>loadMoreLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>detailToolbarButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>whereRightView</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>0x9c9c9c</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>currentLocationLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>statusLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>noteText</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>filterDoneButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>filterSectionLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>openNowLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>highlyRatedLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>filterButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>listNewButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>detailTab</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>addressLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>hoursLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>13</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>metaText</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0x333333</string>
		<key>shadowColor</key>
		<string>0xefefef</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>infoCellTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>infoCellSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>searchField</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>placeTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>placeDistance</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>placeCategory</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>placePrice</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>placeCount</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>placeScore</key>
	<dict>
		<key>fontName</key>
		<string>Marker Felt</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>placeRibbon</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>10</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>productTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>productSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>productPrice</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>nullTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>18</integer>
		<key>textColor</key>
		<string>0xffffff</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>nullSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<real>14</real>
		<key>textColor</key>
		<string>0xffffff</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>actionButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0x455C75</string>
		<key>shadowColor</key>
		<string>0xffffff</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>cancelSearchButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>searchTermLabel</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<real>14</real>
		<key>textColor</key>
		<string>0x000000</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
</dict>
</plist>
